*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3rem;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorTateti{
    display: grid;
    height: 45rem;
    width: 45rem;
    align-content: center;
    text-align: center;
    border: 5px solid rgb(175, 172, 1);
    background-color: rgb(230, 230, 6);
}
.contenedorBotones{
    display: grid;
    height: 2rem;
    width: 45rem;
    margin-top: 5rem;
    align-content: center;
    text-align: center;
}

.contenedorJuega{
    position: relative;
    left: -20rem;
    top: -55rem;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 1rem;
}
.contenedorJuega p{
    border-bottom: 1px solid black;
}
#jugadorJuega{
    margin-left: 4rem;
}
.contenedorTateti div{
    font-size: 1rem;
    border: 0.5px solid black;
    border-radius: 50%;
    background-color: white;
}
#reiniciar{
    position: relative;    
    top: -4rem;
    left: 13rem;
    padding: 1rem;
    border: 2px black solid;
    font-size: 1.4rem;
}
#reiniciar:hover{
    cursor: pointer;
}
#felicitaciones{
    border: 2px black solid;
    padding: 2rem;
    position: absolute;
    background-color: white;
    display: none;
    font-size: 1.4rem;
}

.botonFichas{
    background-color: white;
    border: 5px solid rgb(144, 8, 8);
}
.botonFichas:hover{
    background-color: brown;
    cursor: pointer;
}